body {
  margin:0;
  padding:0;
}
canvas{
  position:absolute;
  left:0;
  top:0;
  z-index:-1;
}
#slider {
  position: absolute;
  top: 40%;
  left: 12%;
  width: 76%;
  margin: 0;
  min-width: 610px;
}
#slider input[type=radio] {
  display: none;
}
#slider label {
  cursor:pointer;
  text-decoration: none;
}
#slides {
  padding: 0;
  border: 0px;
  position: relative;
  z-index: 1;
}
#overflow {
  width: 100%;
  overflow: hidden;
}
#slide1:checked ~ #slides .inner {
  margin-left: 25%;
}
#slide2:checked ~ #slides .inner {
  margin-left: -25%;
}
#slide3:checked ~ #slides .inner {
  margin-left: -75%;
}
#slides .inner {
  transition: margin-left 500ms cubic-bezier(0.050, 0.000, 0.150, 1.000);
  width: 200%;
  line-height: 0;
  height: 200%;
}
#slides .slide {
  width: 25%;
  float:left;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100%;
  font-weight: 800;
}
input[type=button] {
  background: none;
  border: none;
  font-size: 400%;
  outline: none;
  cursor: pointer;
}
#slides .slide_1 {
  color: rgb(6, 104, 50);
}
#slides .slide_2 {
  color: rgb(85, 102, 1);
}
#slides .slide_3 {
  color: rgb(136, 78, 27);
}